.cart-inputs {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.quantity-btns {
  background-color: var(--light-grayish-blue);
  display: flex;
  border-radius: var(--radius-primary);
  margin: 1rem 0;
}

.quantity-btns button {
  padding: 16px 20px;
}

.quantity-btns span {
  border: none;
  flex: 1;
  padding: 16px 0;
  text-align: center;
}

.cart-inputs .cart-btn {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 15px 30px -20px var(--orange);
}

.cart-inputs .cart-btn svg {
  fill: var(--white);
}

@media only screen and (min-width: 900px) {
  .cart-inputs {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .quantity-btns {
    flex: 1.5;
  }

  .cart-inputs .cart-btn {
    width: auto;
    flex: 2;
  }
}
