header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.header-col {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header-col button {
  background: none;
  border: none;
  padding: 8px;
}

.avatar-img {
  max-width: 30px;
}

.nav-list {
  /* display: none; */
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.cart {
  background-color: red;
  position: absolute;
  right: 8px;
  left: 8px;
  top: calc(100% + 8px);
  z-index: 10;
  min-height: 200px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: 0px 10px 30px -15px var(--grayish-blue);
}

.cart h3 {
  border-bottom: 1px solid var(--grayish-blue);
  margin: 0;
  padding: 16px;
  font-size: 1rem;
}

header nav {
  position: fixed;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white);
  /* min-height: 100vh; */
  min-width: 250px;
  z-index: 20;
  left: 0;
  top: 0;
  bottom: 0;
}

header .close-btn {
  padding: 8px;
  padding-left: 0;
  align-self: flex-start;
}

.nav-list a {
  padding: 16px 0;
  color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}

.mobile-menu {
  display: flex;
}

.mobile-menu > button {
  padding: 0;
  background: hsla(0, 0%, 0%, 0.447);
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: none;
}

@media only screen and (min-width: 500px) {
  .cart {
    min-width: 300px;
    right: 16px;
    top: calc(100% - 8px);
    left: auto;
  }
}

@media only screen and (min-width: 900px) {
  .logo {
    transform: translateY(-4px);
  }

  header {
    max-width: 1100px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    margin: 0;
  }

  header nav {
    position: static;
    width: auto;
    display: block;
    padding: 0;
  }

  .nav-list a {
    padding: 36px 0;
    border-bottom: 4px transparent solid;
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
    font-weight: 400;
  }

  .nav-list a:hover {
    border-bottom-color: var(--orange);
  }

  .close-btn {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  header {
    border-bottom: 1px solid var(--grayish-blue);
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-col {
    column-gap: 24px;
  }

  .avatar-img {
    max-width: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    padding: 0;
  }

  .cart {
    right: 0;
  }
}
