.carousel {
  position: relative;
  background-color: var(--pale-orange);
}

.carousel .img-container {
  max-height: 500px;
}

.img-container img {
  max-height: 500px;
  object-fit: contain;
  margin: 0 auto;
}

.control-btn {
  background: var(--white);
  border: none;
  border-radius: 50%;
  padding: 8px;
  min-width: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
}

.control-btn img {
  max-width: 8px;
}

.control-btn.prev {
  left: 16px;
  transform: translateY(-50%);
}

.control-btn.next {
  right: 16px;
  transform: translateY(-50%);
}

.thumbnails {
  display: none;
  column-gap: 16px;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 2rem;
}

.thumbnails button {
  width: calc(25% - 20px);
  margin: 0;
  outline-offset: 4px;
  border-radius: 15px;
  overflow: hidden;
}

@media only screen and (min-width: 900px) {
  .control-btn {
    display: none;
  }

  .thumbnails {
    display: flex;
  }

  .img-container img.active {
    border-radius: 15px;
  }

  .carousel {
    background: none;
  }
}
